@import "compass/reset";
@import "compass/css3";

body{
background-color: #fff;
h1{
color:red;
line-height: 10px;
background-color: #ff5400;
}
}
img{
max-width:100%;
bordre-radius:5px;
}
.round{
    @include border-radius(4px, 4px);
    width:200px;
    height:200px;
    background:blue;
}
.gulp{
    color:red;
    width:320px;
    height:320px;
    border:1px solid #ddd;
    border-radius:4px;
}
body{
    height:100%;
    background:#000;
}









